
# 인터넷 금지 
--no-index
--find-links ./wheelhouse

wheel

# py3dtiles 9.0.0 호환 고정 세트
numpy==1.26.4
cython
earcut
lz4
numba==0.61.2
llvmlite==0.44.0
psutil
pygltflib
pyproj
pyzmq==26.3.0

# DB
psycopg2-binary

# py3dtilers 쪽 deps
pywavefront
pyyaml
scipy
shapely
alphashape
Pillow
ifcopenshell
sortedcollections
triangle

py3dtiles==9.0.0

# (Ifctiler) 사용시 추가
earclip==1.1
py3dtiles-temporal-extension==1.0